* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100vw;

  background-color: rgba(192,195,188, 0.1);
}


.container {
 min-height: 80vh;
  /* height: 72vh; */
  background-color: black;
  color: white;
  overflow: hidden;
  display: flex;
  margin: 20px auto;
  width: 75%;
  border-radius: 12px;
  padding: 37px;

  background-image: url("Bg-Img.jpg");

  background-size: cover;
}

.footer {
  height: 13vh;
  background-color: #3a2915;
  width: 77%;
  color: white;

  position: sticky;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: auto;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;


}

.song-list h1{
  color: #eef2f3;
  font-size: 40px;
  font-weight: bold;
}

#progress {
  width:85%;
}

.icons {
  margin: 1rem;
  /* cursor: pointer; */
}
.icons svg {
  cursor: pointer;
}

.songItem {
  height: 90%;
  display: flex;
  background-color:rgb(238,242,243,0.8);
  /* width: 80%; */
  color: #454545;
  font-weight: 600;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;

  /* border: 0.1px solid black; */
}

.songItem img {
  width: 46px;
  height: 46px;
  margin: 0 20px;
  border-radius: 50%;
  border: 1px solid black;
}

.timestamp {
  margin: 0 23px;
  font-size: 18px;
  margin: 10px;
}
.songListPlay {
  cursor: pointer;
  padding: 5px;
}

.songItemContainer {
  margin-top: 30px;
  height: 12%;
}

.sort-icon svg {
  height: 40px;
  width: 35px;

  background-color: transparent;
  color: white;

  /* position: fixed; */
  right: 0;
  cursor: pointer;

  border: 1.5px solid black;
  border-radius: 6px;
}

.del-icon {
  cursor: pointer;
}


.footer svg{
  color: black;

}